* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  background: linear-gradient(46deg, #32160F 0%, #512C25 51.04%, #000 100%);
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;

  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 35px 150px;
  border-bottom: 1px solid #8C6553;

}

.div-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1440px;

}

header .div-header ul {
  display: flex;
  gap: 30px;
}

header .div-header ul li {
  list-style: none;

  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

header .div-header ul li:hover {
  cursor: pointer;
  border-bottom: 1px solid #fff;
}

.div-header a {
  text-decoration: none;
  color: #fff;
}

main {
  max-width: 1440px;
  display: flex;
  align-items: center;
  gap: 40px;
}
/* main img{
  width: 760px;
  height: ;
} */

main div {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

main div>h4 {
  color: #D8A661;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

main div>h1 {
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

main div>p {
  max-width: 381px;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

main div>a {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  text-decoration: none;
  color: #000;

  text-align: center;
  width: 200px;
  padding: 12px 28px;

  border-radius: 31.014px;
  background: #D8A661;
  box-shadow: 0px 2.481152296066284px 2.481152296066284px 0px rgba(0, 0, 0, 0.25);

  cursor: pointer;
}

main div>a:hover{
  filter: drop-shadow(0px 0px 8px #D8A661);
}

.blinker {
  animation: blinker 4s linear infinite;
  filter: drop-shadow(0px 0px 8px #D8A661);
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

button {
  border: none;
}

a {
  text-decoration: none;
  color: #fff;
}

footer {
  display: flex;
  align-items: center;

  margin-top: 100px;
  min-height: 23.3vh;
  position: relative;



  border-radius: 50px 50px 0px 0px;
  background: #4E2A23;
  box-shadow: 0px -8px 25px 0px rgba(0, 0, 0, 0.30);
}

footer div {
  display: flex;
  align-items: center;
  gap:45px;
  position: absolute;
  top:-20%;
  left: 55%;
}

footer a {
  border-radius: 50px;
  background: #2C120D;

  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 8px;
}

footer a span {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

footer p {
  width: 317px;

  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-left: 95px;
}

footer a {
  position: absolute;
  top: -6.5%;
  left: 5%;
  transform: translatex(50%), translateY(50%);
}